<div class="example-card">
  <mat-card >
  
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Cresce com Amor</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <form class="example-form">
        <app-users-input *ngIf="hasUser() == false" (userSelectedEvent)="userSelectedEvent($event)"></app-users-input>
        <app-pin-input 
         *ngIf="hasUser() == true"
         (pinSubmitEvent)="pinSubmitEvent($event)"
         (pinCancelEvent)="pinCancelEvent()"
         ></app-pin-input>
      </form>    
    </mat-card-content>
  </mat-card>
</div>